@import url(./reset.css);
@import url(./reset.css);


:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-navy: #000080;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-dark-grey: #3a434d;
    --app-light-grey: #6c7e90;
}

body {
    background: linear-gradient(to right, #b20e24, #ff9659);
    background-size: cover;
    transition: all 0.25s ease-in-out;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* -------------------------------------------------------------------------------------------
 */

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


input[type="text"] {
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 60px;
    color: #c71576;
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f4f6;
    border: 1px solid #c715b2;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
}



button {
    width: 80px;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    background-color: #c71576;
    border: 1px solid #c715b2;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #b20e4d;
    border: 1px solid var(--app-red);
    transition: all 0.1s ease-in-out;
}

h {
    font-size: 25px;
    font-weight: 600;
    color: #f2f4f6;
}

p {
    color: #f2f4f6;
    font-size: 20px;
    font-weight: 500;
}

p+p {
    margin-top: 10px;
}